@charset "utf-8";
.pag_style a {
    text-decoration: none;
    border: 1px solid #AAE;
    color: #15B;
}

.pag_style a,
.pag_style span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
    margin-bottom: 5px;
}

.pag_style .current {
    background: #26B;
    color: #fff;
    border: 1px solid #AAE;
}

.pag_style .current.prev,
.pag_style .current.next {
    color: #999;
    border-color: #999;
    background: #fff;
}

a {
    color: #34538b;
}

#Searchresult {
    width: 400px;
    height: 400px;
    overflow-y: scroll;
    padding: 20px;
    background: #f0f3f9;
}
