html,body{
	width: 100%;
	height: 100%;
}
/*全局**********************/
*{
	padding: 0;
	margin: 0;
}
/*导航栏******************************/
.title{
	width: 100%;
	height: 50px;
	/*父级要声明flex才能显示效果*/
	display: flex;
	justify-content: flex-start;
}
.left-title{
	width: 200px;
	background: #f1ad4e;
}
.right-title{
	width: 200px;
	background: #00ff00;
}
.main-title{
	background: #0ab170;
	flex-grow: 1;
}

/*头像框架********************************/
.icon{
	background: hsla(0,80%,60%,0.8);
	display: flex;
	flex-wrap: wrap;
}
.block-icon{
	height: 100px;
	width: 200px;
	border-right: 1px solid white;
}

/*自适应头像********/
.head-icon{
	height: 10px;
}
.body-icon{
	width: 200px;
	height: 74px;
	position: absolute;
	border-top: 1px solid white;
	display: flex;
	justify-content: center;
}
.body-icon img{
	height: 63px;
}
.name-icon{
	margin-top: 74px;
	height: 16px;
	color: white;
	text-align: center;
	background: hsla(0,10%,10%,0.6);
}

/*图片************************************/
.main1{
	height: 200px;
 	background: hsla(120,30%,50%,0.8);
	display: flex;
	align-items: center;
    justify-content: center;
}
.img1{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	display: flex;
	align-items: center;
    justify-content: center;
}
.img1 img{
	max-height: 200px;
	max-width: 200px;
}


.main2{
	height: 200px;
 	background: hsla(240,30%,50%,0.8);
	display: flex;
	align-items: center;
    justify-content: center;
}
.img2{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	display: flex;
	align-items: center;
    justify-content: center;
    overflow: hidden;
}
.img2 img{
	max-height: 200px;
	max-width: 200px;
	background-size:300px 300px;
	-webkit-transform: scale(1.5);
	-webkit-transition: 1s;
}
.img2 img:hover{
  -webkit-transform: scale(.6);
}

/*底部*****************************/
.foot{
	width: 100%;
	height: 35px;
	border: 1px solid #cbcbcb;
}
.board{
	height: 16px;
	border: 1px solid #cbcbcb;
	display: flex;
	justify-content: flex-start;
}
.div1,.div2{
	height: 100%;
}
.div1{
	background: #00b3ef;
}
.div2{
	background: #0ab170;
}